<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ultimate Clean</title>
    <link rel="stylesheet" href="css/app.css">

	<link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" href="stylesheets/offcanvas.css">

  <script src="javascripts/foundation/modernizr.foundation.js"></script>

</head>

  <body class="hide-extras">



		  <div>
		    <nav id="menu" role="navigation" class="main-nav hide-for-small">
					<div>
    			<ul class="menu">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="carpet-cleaning.html">Carpet Cleaning</a></li>
					<li><a href="tile-cleaning.html">Tile Cleaning</a></li>
						<li><a href="upholstery-cleaning.html">Upholstery Cleaning</a></li>
							<li><a href="about.html">About</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="testimonials.html">Testimonials</a></li>
					<li><a href="contact.html">Contact Us</a></li>
					</ul>
    		</nav>
				<p class="show-for-small">
  			  <a class='sidebar-button button' id="sidebarButton" href="#sidebar" >☰ Menu</a>
  			</p>
		  </div>



		<div class="row">
			<section id="sidebar" role="complementary">
				<nav id="sideMenu" role="navigation">
					<ul id="sideMainNav" class="nav-bar">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="carpet-cleaning.html">Carpet Cleaning</a></li>
					<li><a href="tile-cleaning.html">Tile Cleaning</a></li>
						<li><a href="upholstery-cleaning.html">Upholstery Cleaning</a></li>
							<li><a href="about.html">About</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="testimonials.html">Testimonials</a></li>
					<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</nav>
			</section>

			<div class="header-wrapper">
		<div class="row column text-center">
		<h1 class="header-title">the <span>Ultimate</span> Clean</h1>
			<h3 class="header-sub-title">The World is at Your Feet</h3>
		</div>
</div>
			<div class="medium-8 large-8 columns">
					<div class="media-object stack-for-small">
						<div class="media-object-section">
								<img src= "assets/img/logo-small.png">
						</div>
						<div class="media-object-section">
							<h3>Welcome to the Ultimate Clean, our goal is simple</h3>
							<p class="subheader">At the Ultimate Clean we only have one goal. To provide our clients
							with the best possible cleaning service.</p>
						</div>
					</div>
					</div>

					<div class="medium-5 large-3 columns">
						<div class="callout secondary callout-contact">
							<form>
								<div class="row">
									<div class="small-12 columns">
										<h3 class="italics">Call us today!</h3>
										<p>
											For a free quote
										</p>
											<a class="large expanded button pulse" href="#">9930 4920</a>

									</div>
									<br>
									<br>
									<div class="small-12 columns">
										<h3 class="italics">Book online</h3>
										<p>
											Save 10% when you book online
										</p>
										<a data-open="modalBook" class="large expanded button pulse">Book now</a>
									</div>
								</div>
							</form>
						</div>
					</div>


		</div>

    <footer class="site-footer row" role="contentinfo">
      <div class="twelve columns">
        Created by ZURB for Foundation 3, based on code from Jason Weaver and Luke Wroblewski
      </div>
    </footer>
  </div>



	<!-- Included JS Files -->
  <script src="javascripts/foundation/jquery.js"></script>
  <script src="javascripts/foundation/jquery.foundation.reveal.js"></script>
  <script src="javascripts/foundation/jquery.foundation.orbit.js"></script>
  <script src="javascripts/foundation/jquery.foundation.forms.js"></script>
  <script src="javascripts/foundation/jquery.placeholder.js"></script>
  <script src="javascripts/foundation/jquery.foundation.tooltips.js"></script>
  <script src="javascripts/foundation/jquery.foundation.alerts.js"></script>
  <script src="javascripts/foundation/jquery.foundation.buttons.js"></script>
  <script src="javascripts/foundation/jquery.foundation.accordion.js"></script>
  <script src="javascripts/foundation/jquery.foundation.navigation.js"></script>
  <script src="javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
  <script src="javascripts/foundation/jquery.foundation.tabs.js"></script>
  <script src="javascripts/foundation/jquery.offcanvas.js"></script>
  <script src="javascripts/foundation/app.js"></script>

</body>
</html>
